.menu>nav>ul.menu>li
{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34547A;
    padding-top: 50px;
    padding-left: 50px;
}
.menu
{
background-color: #EEEFF1;
}

.mainInfo
{
background-color:#EEEFF1;
padding: 50px;
}

.mainInfo h1
{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    text-align: left;
}

.mainInfo p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: left;
    width: 540px;
    height: 67px;
}

.mainInfo button
{
    width: 225px;
    height: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background-color: #34547A;

}

.mainInfo form
{
    padding-top: 100px;
}

.aboutMe h2
{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-top: 50px;
    
}

.aboutMe p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: 25px;
    width: 540px;
    height: 67px;   
    text-align: center;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

.pictures>section
{
    background-color: #34547A;
    padding: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



.pictures h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    padding-left: 10px;
    
}

.pictures p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 30px;
  
    

}

.video
{
    background: #EEEFF1;
}

.video h2
{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-top: 50px;
}

.video p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 50px;
    width: 540px;
    height: 67px;   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.video iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.footer
{
    padding: 25px;
    background-color: #34547A;
}
.footer h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

